<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zk.dao.system.LoginDao">
    <!-- 根据id获取用户信息 -->
    <select id="findById" parameterType="int" resultType="com.zk.pojo.Login">
        select * from login where id = #{id} limit 1
    </select>
    <!-- 查询相同用户名是否存在多条记录 -->
    <select id="findDuplicateName" parameterType="com.zk.pojo.Login" resultType="com.zk.pojo.Login">
        select * from login where username=#{username} or telephone=#{telephone} and id != #{id} limit 1
    </select>
    <!-- 根据用户名获取用户信息 -->
    <select id="findUserByUsername" parameterType="com.zk.pojo.Login" resultType="com.zk.pojo.Login">
        select * from login where username=#{username} or telephone=#{telephone} limit 1
    </select>
    <!-- 查询总条数 -->
    <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*) from login
        where 1=1
    </select>
    <!-- 查询list -->
    <select id="list" parameterType="java.util.HashMap" resultType="com.zk.pojo.Login">
        select * from login
        where 1=1
        order by create_date
        limit #{start},#{length}
    </select>
    <!-- 添加信息 -->
    <insert id="insert" parameterType="com.zk.pojo.Login">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into
        login
          (username,password,role_id,real_name,telephone,bz,del_flag,create_by,create_date,update_by,update_date,shen_fen,sex)
        value
          (#{username},#{password},#{roleId},#{realName},#{telephone},#{bz},#{delFlag},#{createBy},now(),#{updateBy},now(),#{shenFen},#{sex});
    </insert>
    <!-- 根据id删除 -->
    <delete id="delete" parameterType="int">
        delete from login where id=#{id}
    </delete>
    <!-- 批量删除 -->
    <delete id="batchDelete" parameterType="java.util.List">
        delete from login where id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!-- 修改信息 -->
    <update id="update" parameterType="com.zk.pojo.Login">
        update
            login
        set
            username=#{username},
            password=#{password},
            role_id=#{roleId},
            real_name=#{realName},
            telephone=#{telephone},
            bz=#{bz},
            del_flag=#{delFlag},
            update_by=#{updateBy},
            update_date=#{updateDate},
            shen_fen=#{shenFen},
            sex=#{sex}
        where id=#{id}
    </update>
</mapper>