<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zk.dao.system.LoginDao">

    <resultMap id="BaseResultMap" type="com.zk.pojo.Login">
        <id column="id"                     jdbcType="INTEGER"      property="id" />
        <result column="username"           jdbcType="VARCHAR"      property="username" />
        <result column="password"           jdbcType="VARCHAR"      property="password" />
        <result column="role_id"            jdbcType="VARCHAR"      property="roleId" />
        <result column="real_name"          jdbcType="VARCHAR"      property="realName" />
        <result column="telephone"          jdbcType="VARCHAR"      property="telephone" />
        <result column="bz"                 jdbcType="VARCHAR"      property="bz" />
        <result column="del_flag"           jdbcType="INTEGER"      property="delFlag" />
        <result column="create_by"          jdbcType="INTEGER"      property="createBy" />
        <result column="create_date"        jdbcType="TIMESTAMP"    property="createDate" />
        <result column="update_by"          jdbcType="INTEGER"      property="updateBy" />
        <result column="update_date"        jdbcType="TIMESTAMP"    property="updateDate" />
        <result column="identity"           jdbcType="INTEGER"      property="identity" />
        <result column="sex"                jdbcType="INTEGER"      property="sex" />
    </resultMap>

    <!-- 根据id获取用户信息 -->
    <select id="findUserById" parameterType="int" resultType="com.zk.pojo.Login">
        select * from login where id = #{id} limit 1
    </select>
    <!-- 查询相同用户名是否存在多条记录 -->
    <select id="findDuplicateName" parameterType="com.zk.pojo.Login" resultType="com.zk.pojo.Login">
        select * from login where username=#{username} or telephone=#{telephone} and id != #{id} limit 1
    </select>
    <!-- 根据用户名获取用户信息 -->
    <select id="findUserByUsername" parameterType="com.zk.pojo.Login" resultType="com.zk.pojo.Login">
        select * from login where username=#{username} or telephone=#{telephone} limit 1
    </select>
    <!-- 查询用户list -->
    <select id="list" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select * from login
        where 1=1
        limit #{start},#{length}
    </select>
    <!-- 添加用户信息 -->
    <insert id="insert" parameterType="com.zk.pojo.Login">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into
        login
          (username,password,role_id,real_name,telephone,bz,del_flag,create_by,create_date,update_by,update_date,identity,sex)
        value
          (#{username},#{password},#{roleId},#{realName},#{telephone},#{bz},#{delFlag},#{createBy},new Date(),#{updateBy},new Date(),#{identity},#{sex});
    </insert>
    <!-- 根据id删除用户信息 -->
    <delete id="delete" parameterType="int">
        delete from login where id=#{id}
    </delete>
    <!-- 修改用户信息 -->
    <update id="update" parameterType="com.zk.pojo.Login">
        update
            login
        set
            username=#{username},
            password=#{password},
            role_id=#{roleId},
            real_name=#{realName},
            telephone=#{telephone},
            bz=#{bz},
            del_flag=#{delFlag},
            update_by=#{updateBy},
            update_date=#{updateDate},
            sex=#{sex}
        where id=#{id}
    </update>
</mapper>