<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zk.dao.system.MenuDao">

    <resultMap id="BaseResultMap" type="com.zk.pojo.Menu">
        <id column="id"                     jdbcType="INTEGER"      property="id" />
        <result column="name"               jdbcType="VARCHAR"      property="name" />
        <result column="parent_id"          jdbcType="INTEGER"      property="parentId" />
        <result column="url"                jdbcType="VARCHAR"      property="url" />
        <result column="orders"             jdbcType="INTEGER"      property="orders" />
        <result column="sys_id"             jdbcType="INTEGER"      property="sysId" />
        <result column="bz"                 jdbcType="VARCHAR"      property="bz" />
        <result column="del_flag"           jdbcType="INTEGER"      property="delFlag" />
        <result column="create_by"          jdbcType="INTEGER"      property="createBy" />
        <result column="create_date"        jdbcType="TIMESTAMP"    property="createDate" />
        <result column="update_by"          jdbcType="INTEGER"      property="updateBy" />
        <result column="update_date"        jdbcType="TIMESTAMP"    property="updateDate" />
        <result column="is_function_menu"   jdbcType="INTEGER"      property="isFunctionMenu" />
        <result column="menu_icon"          jdbcType="VARCHAR"      property="menuIcon" />
    </resultMap>

    <!-- 根据id获取用户信息 -->
    <select id="findById" parameterType="int" resultMap="BaseResultMap">
        select * from menu where id = #{id} limit 1
    </select>

    <!-- 查询用户list -->
    <select id="list" resultMap="BaseResultMap">
        select * from menu
    </select>
    <!-- 添加 -->
    <insert id="insert" parameterType="com.zk.pojo.Menu">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into
        menu
          (name,parent_id,url,orders,sys_id,bz,del_flag,create_by,create_date,update_by,update_date,is_function_menu,menu_icon)
        value
          (#{name},#{parentId},#{url},#{orders},#{sysId},#{bz},#{delFlag},#{createBy},new Date(),#{updateBy},new Date(),#{isFunctionMenu},#{menuIcon});
    </insert>
    <!-- 根据id删除 -->
    <delete id="delete" parameterType="int">
        delete from login where id=#{id}
    </delete>
    <!-- 修改 -->
    <update id="update" parameterType="com.zk.pojo.Menu">
        update
            menu
        set
            name=#{name},
            parent_id=#{parentId},
            url=#{url},
            orders=#{orders},
            sys_id=#{sysId},
            bz=#{bz},
            del_flag=#{delFlag},
            update_by=#{updateBy},
            update_date=#{updateDate},
            is_function_menu=#{isFunctionMenu},
            menu_icon=#{menuIcon}
        where id=#{id}
    </update>
</mapper>