<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.zk.dao.system.MenuDao">
    <!-- 根据id获取信息 -->
    <select id="findById" parameterType="int" resultType="com.zk.pojo.Menu">
        select * from menu where id = #{id} limit 1
    </select>
    <!-- 查询list -->
    <select id="list" resultType="com.zk.pojo.Menu">
        select * from menu
    </select>
    <!-- 添加 -->
    <insert id="insert" parameterType="com.zk.pojo.Menu">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into
        menu
          (name,parent_id,url,orders,sys_id,bz,del_flag,create_by,create_date,update_by,update_date,is_function_menu,menu_icon)
        value
          (#{name},#{parentId},#{url},#{orders},#{sysId},#{bz},#{delFlag},#{createBy},new Date(),#{updateBy},new Date(),#{isFunctionMenu},#{menuIcon});
    </insert>
    <!-- 根据id删除 -->
    <delete id="delete" parameterType="int">
        delete from login where id=#{id}
    </delete>
    <!-- 修改 -->
    <update id="update" parameterType="com.zk.pojo.Menu">
        update
            menu
        set
            name=#{name},
            parent_id=#{parentId},
            url=#{url},
            orders=#{orders},
            sys_id=#{sysId},
            bz=#{bz},
            del_flag=#{delFlag},
            update_by=#{updateBy},
            update_date=#{updateDate},
            is_function_menu=#{isFunctionMenu},
            menu_icon=#{menuIcon}
        where id=#{id}
    </update>
</mapper>